<table align="center" cellpadding="0" cellspacing="0" style="border:0;margin:0;padding:0" width="100%" height="100%">
  <tbody align="center" width="100%" height="100%">
    <tr id="header" style="background-image:url('https://s3-us-west-1.amazonaws.com/quokkadev/images/exercise-banner-og.jpeg');background-repeat:no-repeat;background-size:cover; background-position: 0; position: relative;" width="100%" height="400">
      <td width="100%" height="100%">
        <div style="width: 100%; margin-bottom: 10px; padding: 20px; box-sizing: border-box;">
          <img src="https://s3-us-west-1.amazonaws.com/quokkadev/logos/quokka-color.png" alt="" style="height: 50px; display: inline-block; float: left;">
          <div style="display: inline-block; float: right; margin-top: 5px;">
            <a href="#" style="display: inline-block; float: right; width: 26px; height: 26px; border-radius: 50%; background-color: #0DD5B2; padding: 5px; margin-right: 8px;"><img style="height:70%; margin-top: 15%;" src="https://s3-us-west-1.amazonaws.com/quokkadev/images/instagram-white.png" alt=""></a>
            <a href="#" style="display: inline-block; float: right; width: 26px; height: 26px; border-radius: 50%; background-color: #0DD5B2; padding: 5px; margin-right: 8px;"><img style="height:61%; margin-top: 19%;" src="https://s3-us-west-1.amazonaws.com/quokkadev/images/twitter-white.png" alt=""></a>
            <a href="#" style="display: inline-block; float: right; width: 26px; height: 26px; border-radius: 50%; background-color: #0DD5B2; padding: 5px; margin-right: 8px;"><img style="height:70%; margin-top: 15%;" src="https://s3-us-west-1.amazonaws.com/quokkadev/images/fb-white.png" alt=""></a>
          </div>
        </div>
        <div style="margin-bottom: 6px;">
          <div style="width: 100%; text-align: center;color:#fff;line-height:1.2;font-size:3.5em;margin-top: 65px;">Let's get moving!</div>
          <a href="https://quokka-prod.herokuapp.com/challenge" style="text-transform: uppercase; color: white; text-decoration: none; text-align: center; padding: 18px 32px; background-color: #0DD5B2; font-size: 1.15em; display: inline-block; margin: 35px auto; border-radius: 4px;">Week 4 Challenge</a>
        </div>
      </td>
    </tr>
    <tr id="suggestions" width="100%" style="background-color:#0DD5B2">
      <td width="100%" height="100%" style="padding:2.3em 7em;color:#fff;">
        <ol style="padding: 0 9%; margin: 0; width: 100%; box-sizing: border-box; text-align: left;">
          <li style="font-size:1.4em;line-height:1.75;margin: 5px 0;width: 100%;">Try 3 different types of exercise this week</li>
          <li style="font-size:1.4em;line-height:1.75;margin: 5px 0;width: 100%;">Walk or bike instead of driving, Take stairs over elevators</li>
          <li style="font-size:1.4em;line-height:1.75;margin: 5px 0;width: 100%;">Sit Less, Move More</li>
        </ol>
      </td>
    </tr>
    <tr id="gettingStarted" width="100%" style="background-color:rgba(0,0,0,0.05); border-bottom: 1px solid rgba(0,0,75,0.06);">
      <td width="100%" height="100%" style="padding:1em;color:#303333">
        <div class="col-block" style="width: 50%; box-sizing: border-box; float: left; padding: 3em;">
          <div style="font-size: 2em; margin-bottom: 16px; font-weight: bold;">Getting Started</div>
          <ul style="list-style: none; padding: 0; margin: 0; text-align: left; opacity: 0.7; font-size: 1.15em;">
            <li style="margin: 14px 0;">Take a Fitness Assessment at ACSR</li>
            <li style="margin: 14px 0;">Join a free Group Exercise Class</li>
            <li style="margin: 14px 0;">Take advantage of Stanford Student Perks from the Outdoor Center, Red Zone, and driving range</li>
          </ul>
        </div>
        <div class="col-block" style="width: 50%; box-sizing: border-box; float: left; padding: 3em;">
          <div style="font-size: 2em; margin-bottom: 16px; font-weight: bold;">Events</div>
          <ul style="list-style: none; padding: 0; margin: 0; text-align: left; opacity: 0.7; font-size: 1.15em;">
            <li style="margin: 14px 0;">Lululemon is hosting a yoga session in Crothers this week on Thursday</li>
            <li style="margin: 14px 0;">North Face and KEEN are co-hosting a hike on Saturday</li>
          </ul>
        </div>
      </td>
    </tr>
    <tr width="100%" style="background-color:#0dd5b2">
      <td width="100%" height="100%" style="padding:1.3em 7em 2.4em;color:#fff">
        <p style="font-size:2.3em;text-align:center">Week 4 Challenge</p>
        <p style="font-size:1.2em;line-height:1.75;text-align:left">Take the first day of this week to check out the Harvard School of Public Health’s Healthy Eating Plate Guide on how to make better food decisions. Pick what will be an improvement for your health and then stick to it for every day this week.</p>
        <div>
          <a href="#" style="padding:15px 20px;background-color:#fff;color:#0dd5b2;border-radius:3px;display:block;margin-top:1.5em;text-decoration:none;width:200px;font-size:1.2em"><img style="height:20px;margin-right:9px" src="https://ci4.googleusercontent.com/proxy/KEvREAFM5M04Okowv1AQt7RZyUA6gf38UwZd1l-s3HSVUk4r4b_7JJsoWO0oW_gsGAe5nQLvqYvJdRi95wSVFTm2PbUgmT0YLbac9iHL4n3uJkQ4fsT4n6Rg=s0-d-e1-ft#https://s3-us-west-1.amazonaws.com/quokkadev/images/gift-colored.png" alt="" class="CToWUd"> View Week 4 Prizes</a>
        </div>
      </td>
    </tr>
    <tr width="100%" style="background-color:rgba(0,0,0,0.05)">
      <td width="100%" height="100%" style="padding:1.3em 13em 2.4em;color:#303333">
        <p style="font-size:2.3em;text-align:center">Resources</p>
        <ul style="font-size:1.3em;list-style-type:none;padding:0;margin:0;margin-bottom:4px">
          <li style="margin:23px 0;margin-top:34px">
            <a href="#" style="color:#303333">Harvard's Healthy Eating Plate Guide</a>
          </li>
          <li style="margin:23px 0">
            <a href="#" style="color:#303333">Hey here's another resource</a>
          </li>
          <li style="margin:23px 0;margin-bottom:34px">
            <a href="#" style="color:#303333">Hey here's a third resource</a>
          </li>
        </ul>
        <div>
          <a href="#" style="padding:15px 20px;background-color:#0dd5b2;color:#fff;border-radius:3px;display:block;margin-top:1.5em;text-decoration:none;width:225px;font-size:1.2em">View More Challenge Resources</a>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot align="center" width="100%" style="background-color:#303333;color:#eee">
    <tr width="100%">
      <td width="100%" height="100%" style="padding-top:24px">
        <a href="#"><img style="height:22px;margin:0 10px" src="https://s3-us-west-1.amazonaws.com/quokkadev/images/fb.png" alt=""></a>
        <a href="#"><img style="height:22px;margin:0 10px" src="https://s3-us-west-1.amazonaws.com/quokkadev/images/twitter.png" alt=""></a>
        <a href="#"><img style="height:22px;margin:0 6px" src="https://s3-us-west-1.amazonaws.com/quokkadev/images/instagram.png" alt=""></a>
      </td>
    </tr>
    <tr width="100%" height="100%">
      <td width="100%" height="100%" style="padding:1.2em">
        <p style="font-size:10px;margin-bottom:14px">Sent from the <span>Quokka</span> team at 224 Oak Ct, Menlo Park, CA 94025</p>
        <p style="font-size:10px">Click <a href="#" style="color:#01cbf6">here</a> to update your email settings.</p>
      </td>
    </tr>
  </tfoot>
</table>