<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <style type="text/css" id="media-query">
      @media (max-width: 1100px) {
        .prize, .col-block {
          width: 100% !important;
        }

        .col-block:last-child {
          padding-top: 1em !important;
        }

        .header-logo {
          max-width: 48% !important;
          height: auto !important;
          max-height: 52px;
        }

        .header-soc-med-icon {
          width: 22px !important;
          height: 22px !important;
        }

        .section {
          padding-left: 1.5em !important;
          padding-right: 1.5em !important;
        }

        .welcome-text {
          font-size: 3.4em !important;
        }

        #suggestions ol {
          margin-left: 6px !important;
        }

        #gettingStarted ul {
          margin-left: 0px !important;
        }

        .science-desc {
          padding: 0 10px !important;
          text-align: left !important;
        }
      }
    </style>
  </head>
  <body>
    <table align="center" cellpadding="0" cellspacing="0" style="border:0;margin:0;padding:0" width="100%" height="100%">
      <tbody align="center" width="100%" height="100%">
        <tr id="header" style="background-image:url('https://s3-us-west-1.amazonaws.com/quokkadev/images/exercise-banner-og.jpeg');background-repeat:no-repeat;background-size:cover; background-position: 0; position: relative;" width="100%" height="400">
          <td width="100%" height="100%" style="font-family: Lato, arial, sans-serif;">
            <div style="width: 100%; margin-bottom: 10px; padding: 20px; box-sizing: border-box;">
              <img class="header-logo" src="https://s3-us-west-1.amazonaws.com/quokkadev/logos/quokka-color.png" alt="" style="height: 52px; display: inline-block; float: left;">
              <div style="display: inline-block; float: right; margin-top: 5px;">
                <a class="header-soc-med-icon" href="#" style="display: inline-block; float: right; width: 26px; height: 26px; border-radius: 50%; background-color: #0DD5B2; padding: 5px;"><img style="height:70%; margin-top: 15%;" src="https://s3-us-west-1.amazonaws.com/quokkadev/images/instagram-white.png" alt=""></a>
                <a class="header-soc-med-icon" href="#" style="display: inline-block; float: right; width: 26px; height: 26px; border-radius: 50%; background-color: #0DD5B2; padding: 5px; margin-right: 8px;"><img style="height:61%; margin-top: 19%;" src="https://s3-us-west-1.amazonaws.com/quokkadev/images/twitter-white.png" alt=""></a>
                <a class="header-soc-med-icon" href="#" style="display: inline-block; float: right; width: 26px; height: 26px; border-radius: 50%; background-color: #0DD5B2; padding: 5px; margin-right: 8px;"><img style="height:70%; margin-top: 15%;" src="https://s3-us-west-1.amazonaws.com/quokkadev/images/fb-white.png" alt=""></a>
              </div>
            </div>
            <div style="margin-bottom: 6px;">
              <div class="welcome-text" style="width: 100%; text-align: center;color:#fff;line-height:1.2;font-size:3.7em;margin-top: 65px;font-weight:bold;">Let's get moving!</div>
              <a href="https://quokka-prod.herokuapp.com/challenge" style="text-transform: uppercase; color: white; text-decoration: none; text-align: center; padding: 18px 32px; background-color: #0DD5B2; font-size: 1.15em; display: inline-block; margin: 35px auto; border-radius: 4px;">Week 4 Challenge</a>
            </div>
          </td>
        </tr>
        <tr id="suggestions" width="100%" style="background-color:#0DD5B2">
          <td class="section" width="100%" height="100%" style="padding:2.3em 4.5em;color:#fff;font-family: Lato, arial, sans-serif;">
            <div style="font-size: 2.1em; margin-bottom: 16px; font-weight: bold;">Challenge of the Week: Exercise</div>
            <ol style="padding: 0 9%; margin: 0; width: 100%; box-sizing: border-box; text-align: left;">
              <li style="font-size:1.4em;line-height:1.75;margin: 5px 0;width: 100%;">Try 3 different types of exercise this week</li>
              <li style="font-size:1.4em;line-height:1.75;margin: 5px 0;width: 100%;">Walk or bike instead of driving, and take stairs over elevators</li>
              <li style="font-size:1.4em;line-height:1.75;margin: 5px 0;width: 100%;">Sit Less, Move More</li>
            </ol>
          </td>
        </tr>
        <tr id="gettingStarted" width="100%" style="background-color:rgba(0,0,0,0.05);">
          <td class="section" width="100%" height="100%" style="padding:1em;color:#303333;border-bottom: 1px solid rgba(0,0,75,0.06);font-family: Lato, arial, sans-serif;">
            <div class="col-block" style="width: 50%; box-sizing: border-box; float: left; padding: 2em;">
              <div style="font-size: 1.7em; margin-bottom: 17px; font-weight: bold;">Need help getting started?</div>
              <ul style="list-style: disc; padding: 0; margin: 0; margin-left: 21px; text-align: left; opacity: 0.7; font-size: 1.15em; box-sizing: border-box; min-height: 132px;">
                <li style="margin: 16px 0;line-height:1.4;">Take a Fitness Assessment at ACSR</li>
                <li style="margin: 16px 0;line-height:1.4;">Join a free Group Exercise Class</li>
                <li style="margin: 16px 0;line-height:1.4;">Take advantage of student perks at the Outdoor Center or Stanford Driving Range</li>
              </ul>
              <a href="https://quokka-prod.herokuapp.com/challenge" style="text-transform: uppercase; color: white; text-decoration: none; text-align: center; padding: 15px 27px; background-color: #11C3EF; font-size: 1.15em; display: inline-block; border-radius: 4px;">More Ideas</a>
            </div>
            <div class="col-block" style="width: 50%; box-sizing: border-box; float: left; padding: 2em;">
              <div style="font-size: 1.7em; margin-bottom: 17px; font-weight: bold;">Events</div>
              <ul style="list-style: disc; padding: 0; margin: 0; margin-left: 21px; text-align: left; opacity: 0.7; font-size: 1.15em; box-sizing: border-box; min-height: 132px;">
                <li style="margin: 16px 0;line-height:1.4;">Lululemon is hosting a yoga workshop in Kimball Hall at 8pm on Thursday</li>
                <li style="margin: 16px 0;line-height:1.4;">The North Face is hosting a Dish hike on Saturday at 10am. Bring water, comfortable shoes, and a friend!</li>
              </ul>
              <a href="https://quokka-prod.herokuapp.com/challenge" style="text-transform: uppercase; color: white; text-decoration: none; text-align: center; padding: 15px 27px; background-color: #11C3EF; font-size: 1.15em; display: inline-block; border-radius: 4px;">More Info</a>
            </div>
          </td>
        </tr>
        <tr id="science" width="100%" style="background-color:rgba(0,0,0,0.05);">
          <td class="section" width="100%" height="100%" style="padding:2.1em 7em;color:#303333;border-bottom: 1px solid rgba(0,0,75,0.06);font-family: Lato, arial, sans-serif;">
            <div style="font-size: 2.1em; margin-bottom: 16px; font-weight: bold;">What's the science say?</div>
            <div class="science-desc" style="font-size: 1.15em;line-height:1.5; text-align: justify;">Regular physical activity is important for increasing energy and focus, strengthening bones and muscles, and increasing longevity. It'll also help you manage stress and anxiety and reduce your risk of cardiovascular disease and obesity. Even our perceptions and mindsets on how physically active we are can predict health and longevity in the domains of stress, diet, and obesity.</div>
          </td>
        </tr>
        <tr id="prizes" width="100%" style="background-color:rgba(0,0,0,0.05);">
          <td class="section" width="100%" height="100%" style="padding:2em 1em 1.1em;color:#303333;font-family: Lato, arial, sans-serif;">
            <div style="font-size: 2.1em; margin-bottom: 16px; font-weight: bold;">Prizes</div>
            <div style="width: 100%;">
              <div class="prize" style="width: 33.33%; float: left; text-align: center; padding: 1.2em; box-sizing: border-box;">
                <img src="https://s3-us-west-1.amazonaws.com/quokkadev/images/stanford-athletics.png" alt="" style="height: 80px; margin: 0 auto 16px; display: block;">
                <div style="margin-bottom: 6px; text-transform: uppercase; font-size: 0.95em;">Stanford Recreation</div>
                <div style="margin-bottom: 6px; font-size: 0.95em;">Free personal training session</div>
              </div>
              <div class="prize" style="width: 33.33%; float: left; text-align: center; padding: 1.2em; box-sizing: border-box;">
                <img src="https://s3-us-west-1.amazonaws.com/quokkadev/images/thenorthface.png" alt="" style="height: 80px; margin: 0 auto 16px; display: block;">
                <div style="margin-bottom: 6px; text-transform: uppercase; font-size: 0.95em;">The North Face</div>
                <div style="margin-bottom: 6px; font-size: 0.95em;">2 free pairs of hiking boots</div>
              </div>
              <div class="prize" style="width: 33.33%; float: left; text-align: center; padding: 1.2em; box-sizing: border-box;">
                <img src="https://s3-us-west-1.amazonaws.com/quokkadev/images/lululemon.png" alt="" style="height: 80px; margin: 0 auto 16px; display: block;">
                <div style="margin-bottom: 6px; text-transform: uppercase; font-size: 0.95em;">Lululemon</div>
                <div style="margin-bottom: 6px; font-size: 0.95em;">3 yoga mats</div>
              </div>
            </div>
          </td>
        </tr>
        <tr id="suggestions" width="100%" style="background-color:#303333;">
          <td class="section" width="100%" height="100%" style="padding:2em 1em;color:white;text-align: center;font-family: Lato, arial, sans-serif;">
            <div style="font-size: 1.75em; margin-bottom: 16px;">How'd this week go?</div>
            <div style="font-size: 1em; margin-bottom: 12px;">Which different exercises did you try?</div>
            <div style="font-size: 1em; margin-bottom: 12px;">How’d it feel to take the stairs more and sit less?</div>
            <a href="https://quokka-prod.herokuapp.com/check-in" style="text-transform: uppercase; color: #fff; text-decoration: none; text-align: center; padding: 13px 30px; background-color: #0DD5B2; font-size: 1.15em; display: inline-block; margin: 9px auto 0; border-radius: 4px;">Check In</a>
          </td>
        </tr>
      </tbody>
      <tfoot align="center" width="100%" style="background-color:rgba(0,0,0,0.05);color:#909090;">
        <tr width="100%">
          <td width="100%" height="100%" style="padding-top:30px">
            <a href="#"><img style="height:22px;margin:0 10px" src="https://s3-us-west-1.amazonaws.com/quokkadev/images/fb.png" alt=""></a>
            <a href="#"><img style="height:22px;margin:0 10px" src="https://s3-us-west-1.amazonaws.com/quokkadev/images/twitter.png" alt=""></a>
            <a href="#"><img style="height:22px;margin:0 6px" src="https://s3-us-west-1.amazonaws.com/quokkadev/images/instagram.png" alt=""></a>
          </td>
        </tr>
        <tr width="100%" height="100%">
          <td width="100%" height="100%" style="padding:1.2em; padding-bottom:1.5em;">
            <p style="font-size:10px;margin-bottom:14px">Sent from the <span>Quokka</span> team at 224 Oak Ct, Menlo Park, CA 94025</p>
            <p style="font-size:10px">Click <a href="#" style="color:#11C3EF">here</a> to update your email settings.</p>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>