<table style="width: 100%;">
  <tbody style="width: 100%;">
    <tr style="height: 34%; width: 100%;">
      <td align="left" valign="top" style="height: 34%; width: 100%; padding-left: 9%; padding-right: 9%; color: black; font-size: 1.1em; padding-top: 2%">
        <p style="line-height: 2.5em">New Quokka Inquiry!</p>
      </td>
    </tr>
    <tr style="height: 34%; width: 100%;">
      <td align="left" valign="top" style="height: 34%; width: 100%; padding-left: 9%; padding-right: 9%; color: black; font-size: 1.1em;">
        <p><b>School:</b>&nbsp;&nbsp; <%= @school %></p>
        <p><b>Email:</b>&nbsp;&nbsp; <%= @email %></p>
      </td>
    </tr>
  </tbody>
</table>
