<header>
  <div class="dimmer"></div>
  <nav class="header-nav">
    <a href="/">
      <img alt="Quokka" src="<%= ENV['S3_URL'] %>/logos/quokka-white.png">
    </a>
  </nav>
  <div id="welcome">
    <h1 class="welcome-main-text">Welcome to Quokka</h1>
    <p class="welcome-sub-text">Healthy habits for a happier campus</p>
    <button class="primary-request-btn" data-action="request-to-join">Join the Challenge</button>
  </div>
</header>
<main>
  <section id="about">
    <div class="container-fluid">
    </div>
  </section>
  <section id="inquire">
    <div class="container-fluid">
      <div class="leading-inquiry-text">Want Quokka on your campus? Let us know!</div>
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 inquiry-field-container" role="school">
          <input type="text" class="inquiry-field" placeholder="School" name="school" />
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 inquiry-field-container" role="email">
          <input type="text" class="inquiry-field" placeholder="Email" name="email" />
          <button class="submit-desktop" data-action="submit-inquiry"></button>
        </div>
      </div>
      <div class="submit-mobile-container">
        <button class="submit-mobile" data-action="submit-inquiry">Submit</button>
        <div class="horiz-spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
    </div>
  </section>
</main>
<footer>
  <p class="copyright">© 2017 Quokka, Inc.</p>
</footer>
