<div id="home" class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img alt="Quokka" src="/quokka_logo.png">
        </a>
      </div>
    </div>
  </nav>
  <section>
    <div class="container-fluid">
      <div class="row"></div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row"></div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row"></div>
    </div>
  </section>
</div>