<header>
  <div class="dimmer"></div>
  <nav class="header-nav">
    <a href="/">
      <img alt="Quokka" src="<%= ENV['S3_URL'] %>/logos/quokka-white.png">
    </a>
  </nav>
  <div id="welcome">
    <h1 class="welcome-main-text">Welcome to Quokka</h1>
    <p class="welcome-sub-text">Healthy habits for a happier campus</p>
    <button class="primary-request-btn" data-action="request-to-join">Join the Challenge</button>
  </div>
</header>
<main>
  <section id="mission">
    <div class="container-fluid">
      <div class="row">
        <h2 class="about-category-title">Our Mission</h2>
        <p class="about-category-desc">Quokka creates challenge-based wellness programs for universities that combine scientific research, incentives, and peer support to improve student health outcomes and increase engagement with current campus health resources.</p>
      </div>
    </div>
  </section>
  <section id="about">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 about-category" id="challenges">
          <img class="icon" src="<%= ENV['S3_URL'] %>/marketing/images/evidence.png">
          <h2 class="about-category-title">Evidence-Based Challenges</h2>
          <p class="about-category-desc">When students sign up for the program, they’re given weekly challenges—each based around one healthy habit—that are backed with scientific research and information about campus resources.</p>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 about-category" id="prizes">
          <img class="icon" src="<%= ENV['S3_URL'] %>/marketing/images/gift.png">
          <h2 class="about-category-title">Events & Prizes</h2>
          <p class="about-category-desc">They’ll be notified about challenge-related events hosted that week by wellness offices or student clubs and can win prizes from the community in return for their participation.</p>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 about-category" id="community">
          <img class="icon" src="<%= ENV['S3_URL'] %>/marketing/images/community.png">
          <h2 class="about-category-title">Community</h2>
          <p class="about-category-desc">With our web-based platform, we take advantage of the way students regularly communicate to encourage them to improve their own well-being throughout the year. When students test the habits out with their peers, they’ll have more fun and even greater accountability together.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="inquire">
    <div class="container-fluid">
      <div class="leading-inquiry-text">Want Quokka on your campus? Let us know!</div>
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 inquiry-field-container" role="school">
          <input type="text" class="inquiry-field" placeholder="School" name="school" />
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 inquiry-field-container" role="email">
          <input type="text" class="inquiry-field" placeholder="Email" name="email" />
          <button class="submit-desktop" data-action="submit-inquiry"></button>
        </div>
      </div>
      <div class="submit-mobile-container">
        <button class="submit-mobile" data-action="submit-inquiry">Submit</button>
        <div class="horiz-spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
    </div>
  </section>
</main>
<footer>
  <p class="copyright">© 2017 Quokka, Inc.</p>
</footer>
