@import "colors";

#about {
  padding: 95px 0;
  background-color: $primary;
  color: #fff;
}

.about-category-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

#mission {
  padding: 90px 140px;
  background: #fff;
  color: $secondary;
  font-size: 16px;
  text-align: center;

  .about-category-title {
    font-family: Avenir-Next-Medium;
  }
}

.about-category-desc {
  text-align: center;
}

.about-category > .icon {
  height: 60px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  div.about-category {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 991px) {
  #mission, #about {
    padding: 90px;
  }

  div.about-category {
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  #mission, #about {
    padding: 75px 4%;
  }
}