@import 'colors';

#inquire {
  background-color: $secondary;
  color: #fff;
  padding: 60px 0 65px;
}

#inquire > .container-fluid {
  padding: 0;
}

.leading-inquiry-text {
  font-size: 20px;
  text-align: center;
  margin-bottom: 42px;
  font-family: Avenir-Next-Thin;
}

.inquiry-field {
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 3px;
  width: 310px;
  height: 44px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: $default-dark;
  font-size: 14px;
  line-height: 14px;

  &.invalid {
    box-shadow: 0 0 4px 2px $primary;
    border: 1px solid red;
  }
}

.inquiry-field-container[role=school] {
  padding-right: 9px;

  * {
    float: right;
  }
}

.inquiry-field-container[role=email] {
  padding-left: 9px;

  * {
    float: left;
  }
}

.submit-desktop,
.submit-mobile {
  background-color: $primary;
d
  &:hover {
    background-color: $primary-hover;
  }

  &:active {
    background-color: $primary;
  }
}

.submit-desktop {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  outline: none;
  border: none;
  margin-left: 18px;
  margin-top: 2px;
  background-image: url('https://s3-us-west-1.amazonaws.com/quokkadev/marketing/images/arrow-right.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;

  &.completed {
    background-image: url('https://s3-us-west-1.amazonaws.com/quokkadev/marketing/images/check.png');
    background-color: $tertiary;
  }
}

.submit-mobile {
  display: none;
  width: 100%;
  background-color: $primary;
  border-radius: 3px;
  height: 44px;
  text-align: center;
  font-family: Avenir-Next-Medium;
  outline: none;
  border: none;

  &.completed {
    background-color: $tertiary;
  }
}

.submit-mobile-container {
  position: relative;

  .horiz-spinner {
    display: none;
    top: 13px;
    left: calc((100% - 70px)/2);
  }

  &.loading {
    .submit-mobile {
      color: transparent;
    }

    .horiz-spinner {
      display: block;
    }
  }
}

@media (max-width: 991px) {
  #inquire > .container-fluid {
    padding: 0 4%;
  }

  .inquiry-field-container[role] {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
  }

  .inquiry-field {
    width: 100%;
  }

  .submit-desktop {
    display: none;
  }

  .submit-mobile {
    display: block;
  }
}